In [2]:
import cv2
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import torch

from src.data_loader import RescaleT
from src.data_loader import ToTensor
from src.data_loader import ToTensorLab
from src.data_loader import SalObjDataset
from src.model import U2NET
from src.model import U2NETP

from IPython.display import display
from PIL import Image as Img

from torchvision import transforms
from torch.utils.data import Dataset, DataLoader
from torch.autograd import Variable

In [3]:
trained_list = pd.read_csv("data/train.csv")
trained_list

                    image               species individual_id
0      00021adfb725ed.jpg    melon_headed_whale  cadddb1636b9
1      000562241d384d.jpg        humpback_whale  1a71fbb72250
2      0007c33415ce37.jpg    false_killer_whale  60008f293a2b
3      0007d9bca26a99.jpg    bottlenose_dolphin  4b00fe572063
4      00087baf5cef7a.jpg        humpback_whale  8e5253662392
...                   ...                   ...           ...
51028  fff639a7a78b3f.jpg                beluga  5ac053677ed1
51029  fff8b32daff17e.jpg  cuviers_beaked_whale  1184686361b3
51030  fff94675cc1aef.jpg            blue_whale  5401612696b9
51031  fffbc5dd642d8c.jpg                beluga  4000b3d7c24e
51032  fffdcd42312777.jpg    bottlenose_dolphin  4ddb2eeb5efb

[51033 rows x 3 columns]

In [7]:
# Top 10 most occuring dolphin/whale
(
    trained_list
    .individual_id
    .value_counts()
    .head(10)
)

37c7aba965a5    400
114207cab555    168
a6e325d8e924    155
19fbb960f07d    154
c995c043c353    153
f195c38bcf17    146
ce6e37904aa4    145
ffbb4e585ff2    145
281504409737    143
bc1eb2241633    141
Name: individual_id, dtype: int64